/* Make sure all code goes beneath this line */
:root{
--basic: #c04600; /* for paragraph --*/
--header: #c04600;
    font-family: 'Times New Roman', Garmond, serif;
    background-color: #1a1b1b;
    
    
}

h1{
text-align: center;
color: var(--header);
}

h2{
    text-align: center;
    font-size: 26px;
    color:var(--header);
}


p{
    color:var(--basic);
    font-size: medium;
    text-align: center;
}

a:link{
    color: #0353A4;
}

a:visited{
    color: #973689;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

nav{
    display: flex;
    justify-content: flex-end;
}