/* Make sure all code goes beneath this line */
:root{
--basic: rgb(15, 13, 15); /* for paragraph --*/
--header: #19191b;
    font-family: 'Times New Roman', Garmond, serif;
    background-color: #e7dede;
    
    
}

h1{
text-align: center;
color: var(--header);
}

h2{
    text-align: center;
    font-size: 26px;
}


p{
    color:var(--basic);
    font-size: medium;
    text-align: center;
}

a:link{
    color: #0353A4;
}

a:visited{
    color: #973689;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

nav{
    display: flex;
    justify-content: flex-end;
}